<footer id="footer" class="pt-2 mx-auto border-top footer-spree" data-turbolinks-permanent>
  <div class="container">
    <div class="row d-xl-flex justify-content-xl-around pb-xl-5">
      <div class="d-flex d-xl-block flex-xl-grow-0 col-xl-4">
        <figure class="logo mx-auto mx-xl-0 pt-xl-2 pb-xl-1">
          <a class="navbar-brand" href="#"><img src="https://d9rok4vaowhj0.cloudfront.net/assets/logo-314aa0df77032e4088152ccce98323cf16a0bd5b0c77fa72595a7dc217807d0e.svg"></a>
        </figure>
        <div class="d-none d-xl-block pt-xl-2 footer-spree-info">
          This is website clothes  |
        </div>
      </div>
      <div class="d-block flex-nowrap py-2 order-xl-last col-xl-3 offset-xl-1">
          <div class="d-none d-xl-block pt-4 pb-3 pl-2 footer-spree-label">
            Follow us
          </div>
        <div class="d-flex d-xl-block justify-content-center mx-auto">
          <div class="d-flex">
            <a href=""><i class="fa fa-facebook-square mr-2"></i></a>
            <a href=""><i class="fa fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="py-xl-2 col-xl-3 offset-xl-1">
        <div class="d-none d-xl-block pt-4 pb-3 footer-spree-label">
          Contact us
        </div>
        <div class="d-flex flex-column align-items-center align-items-xl-start pb-3 flex-grow-2 footer-spree-contact-note">
          <div>
            Website Clothes,
            My Chanh<br>
          </div>
          <div>Call us now: 0372323448</div>
          <div>
            Email: vovantra1198@gmail.com
          </div>
        </div>
      </div>
    </div>
    <div class="row d-none d-xl-flex border-top py-5 text-uppercase footer-spree-menu-links">
      <div class="col-3">
        <div class="footer-spree-label">
          <a href="/t/women">Women</a>
        </div>
        <div class="pt-2"><a href="/t/women/skirts">Skirts</a></div>
        <div class="pt-2"><a href="/t/women/dresses">Dresses</a></div>
        <div class="pt-2"><a href="/t/women/shirts-and-blouses">Shirts and Blouses</a></div>
        <div class="pt-2"><a href="/t/women/sweaters">Sweaters</a></div>
        <div class="pt-2"><a href="/t/women/tops-and-t-shirts">Tops and T-shirts</a></div>
        <div class="pt-2"><a href="/t/women/jackets-and-coats">Jackets and Coats</a></div>
      </div>
      <div class="col-3">
        <div class="footer-spree-label">
          <a href="/t/men">Men</a>
        </div>
            <div class="pt-2"><a href="/t/men/shirts">Shirts</a></div>
            <div class="pt-2"><a href="/t/men/t-shirts">T-shirts</a></div>
            <div class="pt-2"><a href="/t/men/sweaters">Sweaters</a></div>
            <div class="pt-2"><a href="/t/men/jackets-and-coats">Jackets and Coats</a></div>
      </div>
      <div class="col-3">
        <div class="footer-spree-label">
          <a href="/t/sportswear">Sportswear</a>
        </div>
            <div class="pt-2"><a href="/t/sportswear/tops">Tops</a></div>
            <div class="pt-2"><a href="/t/sportswear/sweatshirts">Sweatshirts</a></div>
            <div class="pt-2"><a href="/t/sportswear/pants">Pants</a></div>
      </div>
      <div class="col-3">
        <div class="footer-spree-label">
          MY ACCOUNT
        </div>
        <div class="pt-2">
          <a href="/account#account-my-orders">MY ORDERS</a>
        </div>
      </div>
    </div>
  </div>
  <div class="border-top footer-spree-copyright">
    <div class="container">
      <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center py-3 footer-spree-copyright-content">
        <div>
          Designed and developed by vvtra...
        </div>
        <div class="mb-1 mb-lg-0">
          <a target="blank" aria-label="Go to Spark Solutions" rel="follow" href="https://sparksolutions.co/"></a>
        </div>
        <div class="d-none d-lg-inline-block mr-2">|</div>
        <div>
          © 2020
          <a href="">Website clothes</a>.
          All rights reserved.
        </div>
      </div>
    </div>
  </div>
</footer>
