<%= render "layouts/sidebar/header" %>
<aside class="sidebar">
  <div class="sidebar-container">
    <nav class="menu">
      <ul class="sidebar-menu metismenu" id="sidebar-menu">
        <%= render "layouts/sidebar/nav_admin" %>
      </ul>
    </nav>
  </div>
</aside>
<div class="sidebar-overlay" id="sidebar-overlay"></div>
